body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  width: 95vw;
  height: 90vh;
  overflow: hidden;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  transition: transform 0.1s ease-out;
  cursor: grab;
}
