body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-container {
  width: 95vw;
  height: 85vh;
  overflow: hidden;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 216, 216);
}

#canvas {
  background-color: white;
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  transition: transform 0.3s ease-out;
  image-rendering: crisp-edges;
  caret-color: transparent;
}

#task-bar {
  display: flex;
  width: 95vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

#start-button {
  width: 10%;
  height: 50%;
  font-size: 1.5em;
}
